div
  .grid-container(v-if="store.state.photos.length")
    .grid-item.mb-3(v-for="(photo, index) in store.state.photos" :key="index")
      img.photo(:src="photo.media_url")
  .row(v-else)
    .col-12
      p.text-center You don't have any photo