div
  TimelineChart(:data="data" :categories="['photos', 'video', 'album']" :name="photos")
  PieChart(:data="data" :categories="['photos', 'video', 'album']" name="photos" value="number" category="name")