#mainNav 
  border-color: rgba(34,34,34,.05)
  background-color: #fff
  transition: all .35s
  font-family: Catamaran,Helvetica,Arial,sans-serif
  font-weight: 200
  letter-spacing: 1px
  .navbar-nav>li>a.router-link-active.router-link-exact-active
    color: #fdcc52!important
    background-color: transparent
  
.fixed-top 
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 1030

#mainNav .navbar-toggler 
  font-size: 12px
  padding: 8px 10px
  color: #222

#mainNav .navbar-brand 
  color: #fdcc52
  font-family: Catamaran,Helvetica,Arial,sans-serif
  font-weight: 200
  letter-spacing: 1px

#navbarResponsive
  text-transform: uppercase
  color: rgba(255,255,255,.7)
  font-size: 11px
a 
  color: #fdcc52;
  transition: all .35s;

#mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus 
  color: #222

.purpleNav
  background-color: #7b4397 !important

@media (min-width: 992px)
  #mainNav 
    border-color: transparent
    background-color: transparent
  #mainNav .navbar-brand 
    color: fade(white,70%)
  #mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus 
    color: rgba(255,255,255,.7)
  #mainNav.navbar-shrink .navbar-nav>li>a, #mainNav.navbar-shrink .navbar-nav>li>a:focus 
    color: #222
