nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top(v-bind:class="{ purpleNav: !isHome }")
  .container
    router-link.navbar-brand.js-scroll-trigger(to="/") Instagram Analytics
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse(v-if="store.state.isLoggedIn")
      ul.navbar-nav.ml-auto
        li.nav-item
          router-link(to="/") Home
        li.nav-item
          router-link.ml-3(to="/media") Media
        li.nav-item
          router-link.ml-3(to="/stats") Statistics
        li.nav-item
          a.ml-3(href="#" v-on:click.prevent="logout") Logout
