div
  .col-md-8.offset-md-2
    .input-group.col-md-12
      input#link-input.form-control.input(type="search"  aria-describedby="search" placeholder="search" v-model="searchedWord")
  .grid-container.card-group(v-if="resources.length")
    .grid-item.mb-3(v-for="(photo, index) in resources" :key="index")
      .card(v-on:click="getDetails(photo.id)")
        img.photo.card-img-top(:src="photo.media_url")
        .card-body
          p.card-text.text-left.caption(v-if="photo.caption")
            span.font-weight-bold {{photo.username}}: 
            span.captionText {{photo.caption}}
          p.card-text.text-left
            small.text-muted Posted {{getTime(photo.timestamp)}}
  .row(v-else)
    .col-12
      p.text-center.noContent
        img.img-fluid(src="https://es.seaicons.com/wp-content/uploads/2015/11/note-icon.png")
        h6.font-weight-bold.text-center You don't have any photo