.photo
  height: 350px
  width: 380px
.card
  width: 390px
  .card-body
    width: 380px

.grid-container 
  cursor: default
  display: grid
  grid-template-columns: auto auto auto auto
  padding: 20px

.grid-item 
  background-color: rgba(255, 255, 255, 0.8)
  padding: 20px
  font-size: 30px
  text-align: center

.caption
  font-size: 16px
  .captionText
    margin-left: 5px
    font-size: 14px
.card-text.text-left
  .text-muted
    font-size: 14px

.noContent
  margin-top: 60px
  img 
    margin-bottom: 20px
