div
  header.masthead
    .container.h-100
      .row.h-100
        .col-lg-7.my-auto
          .header-content.mx-auto
            h1.mb-5
              | Instagram Analytics is an app that will help you manage your online presence!
            button.btn.btn-outline.btn-xl.my-4(@click.prevent="login('facebook')") Login with Facebook
            br
            button.btn.btn-outline.btn-xl.my-4(@click.prevent="login('instagram')") Login with Instagram
        .col-lg-5.my-auto
          .device-container
            .device-mockup.iphone10.portrait.white
              .device
                .screen
                  // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                  img.img-fluid(src='./assets/demo-screen-2.png' alt='')

